<div class='alert alert-danger container' style="<%= styles%>">
  <button aria-hidden='true' class='close' data-dismiss='alert' type='button'>×</button>
  <div id='flash_error'><%= msg%></div>
</div>
